* {
  margin: 0;
}
.container {
  background-image: url("https://imgkub.com/images/2022/03/16/13241.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(30px);
}

.message {
  position: fixed;
  font-size: 40px;
  color: red;
  text-align: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 1;
}

@media (max-width: 1050px) {
  .container {
    background-position: center;
  }
  .message {
    font-size: 30px;
  }
}
