* {
  margin: 0;
}
body {
  background-color: #e5e3c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag {
  background-color: #d8d2cb;
  color: #603601;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0 16px 0 0;
  font-size: 12px;
  margin: 16px;
}

.tag.highlight {
  background-color: #6d8299;
  color: #e5e3c9;
}

textarea {
  border: none;
  outline: none;
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  height: 60px;
  border-radius: 3px;
  padding: 8px 10px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 20px;
  width: 50vw;
}
